* {
    border: none;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
}

@font-face {
    font-family: geographedit;
    src: url(geograph/geographeditwebbold.ttf);
    src: url(geograph/geographeditwebmedium.ttf);
    src: url(geograph/geographeditwebregular.ttf);
  }

img {
    height: auto;
    width: 100%;
  }

body{
    height: 100vh;
    margin: 0;
    display: block;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: geographedit;
}

main{
    padding: 100px;
    display: block;
  }
  
.center{
  margin: auto;
  width: 70%;
}

.header{
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 6px;
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}

.hero{
  width: 30%;
  height: auto;
  margin-top: 100px;
}



/* CASE STUDY CONTENT */


.title{
  font-weight: 600;
  margin-top: 60px;
  font-size: 30px;
  text-align: left;
}

.subtitle{
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: left;
}

hr{
  min-width: 3px;
  max-width: 350px;
  height: 2px;
  border-top: 2px solid mediumseagreen;
  margin: 20px 80px 40px 0;
}

.long{
  max-width: 100%;
  border-top: 2px solid purple;
}

.flex__container{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.compare{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img_left{
  width: 40%;
  height: auto;
}

.jc-ring{
  width:60%;
  height: auto;
}

.img_right{
  width: 30%;
  height: auto;
}

.text-left{
  width: 40%;
}

.text-right{
  width: 40%;
}

.alpha{
  width: 300px;
  height: auto;
}

.one_image{
  margin-top: 70px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: mediumseagreen;
}

.paragraph{
  width: 600px;
  height: auto;
}

.my-list{
  width: 100px;
  height: auto;
}

.logo{
  width: 250px;
  height: auto;
}


/* MEDIA QUERIES */


/* tablet */

@media screen and (max-width: 1040px) {
  .flex-container{
    flex-direction: column;
}
.hero{
  width: 50%;
}
}


/* mobile */

@media screen and (max-width: 600px) {
  .center{
    width: 90%;
  }
  main{
    padding: 50px;
  }
}